@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Noto+Sans+TC:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F7DCB9;
    font-family: 'Noto Sans TC', sans-serif;
}

h1 {
    font-family: 'Freeman', sans-serif, 'Noto Sans TC', sans-serif;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #333;
}

canvas {
    border: 10px solid #DEAC80;
    background-color: #FFF;
}

.sidebar {
    position: fixed; /* 固定在螢幕左側 */
    top: 0; /* 距離頂部 0 像素 */
    right: 0; /* 距離左側 0 像素 */
    width: 200px; /* 寬度 200 像素 */
    height: 100%; /* 高度 100% */
    background-color: #F9E9C8; /* 背景顏色為 #F9E9C8 */
    padding: 20px; /* 內邊距 20 像素 */
    box-sizing: border-box; /* 設置 box-sizing 屬性為 border-box */
    overflow-y: auto; /* 垂直方向上出現滾動條 */
}

.animal {
    text-align: center;
    margin-bottom: 20px;
}

.animal img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

#startButton {
    font-size: 24px;
    position: absolute; /* 使用绝对定位 */
    top: 30%; /* 距离顶部10像素 */
    left: 15%; /* 距离左侧10像素 */
    background-color: transparent; /* 背景色透明 */
    color: #000000;
    border-radius: 15px; /* 设置圆角半径为15像素 */
    padding: 10px 20px; /* 设置按钮内边距 */
}

#snakeStyle {
    position: absolute;
    top: 35%;
    left: 15%;
}
